.container
	@include grid-container

.responsive-img
	max-width: 100%
	height: auto

.fl_l
	float: left

.fl_r
	float: right

.table
	width: 100%
	max-width: 100%
	margin-bottom: 1rem

.col-3
	@include grid-column(3, $neat-vk)
	background-color: red
